APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:FxvJ1JvOt+Pf9e0lM5Vn+ETM30MR963Q6UV0f7fRwzw=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=woo_sync
DB_USERNAME=root
DB_PASSWORD=



SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

JWT_SECRET=XISQAQLZGiS1p7Nk5vAeGGVycchkxdoqmXUejIT51yYBvhlvIj2035fxfmkFI5yT
SESSION_DOMAIN=null
SESSION_DRIVER=file
SESSION_SECURE_COOKIE=false

WOOCOMMERCE_STORE_URL=https://tangycast.s2-tastewp.com/
WOOCOMMERCE_CONSUMER_KEY=ck_d4e086120968ff26528fd0f55e9e57aa87c357ba
WOOCOMMERCE_CONSUMER_SECRET=cs_62004bd1b6df439daf55c9fa03b7813389b2bd18
